@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .bg-landing {
        background-image: url('/bathroom.jpg');
        background-color: #474141;
        background-blend-mode: multiply;
    }

    .header-dark {
        background-color: #333333;
        color: #F5F5F5;
    }

    .header-light {
        background-color: #F5F5F5;
        color: #333333;
    }

    .bg-input-light {
        background-color: #FFFFFF;
    }

    .bg-input-dark {
        background-color: #666666;
    }
}

@layer components {
    .header-search-input {
        @apply py-3 pl-6 w-full outline-none bg-input-light hidden xxs:block text-base
    }

    .header-search-input-dark {
        @apply py-3 pl-6 w-full outline-none hidden xxs:block bg-input-dark text-[#F5F5F5] text-base
    }

    .header-search-btn {
        @apply w-12 aspect-square xxs:bg-[#FFFFFF] flex justify-center items-center hover:bg-[#F5F5F5] rounded-full xxs:rounded-none
    }

    .header-search-btn-dark {
        @apply w-12 aspect-square xxs:bg-[#666666] flex justify-center items-center hover:bg-[#333333] rounded-full xxs:rounded-none
    }
}