@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .bg-landing {
        background-image: url('/bathroom.jpg');
        background-color: #474141;
        background-blend-mode: multiply;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .catalog-hero {
        background-image: url('/catalog-bathroom.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .full-width-cta {
        width: 100vw;
        position: relative;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
    }

    .form-input {
        box-shadow: 0 0 1.5pt 1.5pt #93c5fd;
        outline-width: 0px;
    }

    .modal {
        width: clamp(50%, 700px, 90%);
        height: min(50%, 300px);
    }

    .header-dark {
        background-color: #333333;
        color: #F5F5F5;
    }

    .header-light {
        background-color: #F5F5F5;
        color: #333333;
    }

    .bg-input-light {
        background-color: #FFFFFF;
    }

    .bg-input-dark {
        background-color: #666666;
    }

    .noscroll {
        overflow: hidden;
        height: 100vh;
    }
}

@layer components {
    .header-search-input {
        @apply py-3 pl-5 w-full outline-none bg-input-light text-base
    }

    .header-search-input-dark {
        @apply py-3 pl-5 w-full outline-none bg-input-dark text-[#F5F5F5] text-base
    }

    .header-search-btn {
        @apply w-12 aspect-square bg-[#FFFFFF] flex justify-center items-center hover:bg-[#F5F5F5]
    }

    .header-search-btn-dark {
        @apply w-12 aspect-square bg-[#666666] flex justify-center items-center hover:bg-[#333333]
    }
}
